.search-input {
  height: 80vh
}

.signUpForm {
  display: flex;
  flex-direction: column;
  align-content: center;
  padding-left: 20vw;
  padding-right: 20vw;
  /* max-width: 600px; */
}

.signUpHeader {
  display: flex;
  justify-content: center;
  margin-top: 8vh;
  /* text-align: center; */
}

.navbutton{
  color: black;
  padding-right: 20px;
}
